@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%
}

body {
	background-image: url(../images/gold-coins.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav.navbar {
	margin: 0;
}

.navbar-brand {
	height: 90px;
	width: 150px;
}

.navbar-nav > li > a {
	line-height: 60px;
}

.logo {
	width: 120px;
}

.content {
	padding: 20px;
	color: white;
}

.transparent-bg {
	background-color: rgba(0, 0, 0,0.7);
}

.countdown {
	
	> div {
		font-size: 30px;
	}

	.counter {
		clear: both;
		display: block;
	}

}