@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//* ==================================================
//	Variables
//  ================================================== */
$transparent-bg-color: rgba(0, 0, 0, 0.7);

/* ==================================================
	App CSS
   ================================================== */

html, body {
	height: 100%
}

body {
	background-image: url(../images/gold-coins.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page {
	min-height: 100%;

	&.transparent-bg {
		border-radius: 20px;
	}
}

nav.navbar {
	margin: 0;
}

.navbar-brand {
	height: 90px;
	width: 150px;
}

.navbar-toggle {
	margin-top: 25px;
}

.navbar-nav > li > a {
	line-height: 60px;
}

.logo {
	width: 120px;
}

.content {
	padding: 20px;
	color: white;
}

.transparent-bg {
	background-color: $transparent-bg-color;
}

.countdown {
	
	> div {
		font-size: 30px;
	}

	.counter {
		clear: both;
		display: block;
	}

}

.panel {
	background-color: transparent;
	.panel-heading {
		background-color: #000;
		color: #FFF;
	}

	.panel-body {
		background-color: $transparent-bg-color;
	}
}



/* ==================================================
	Game Styles
   ================================================== */
.modal {
	.modal-content{
		background-color: transparent;
	}
	.modal-header, .modal-footer {
		background-color: #000;
		color: #FFF;
		border: none;
	}

	.modal-body {
		background-color: $transparent-bg-color;
	}

	.close {
		color: #FFF;
	}
}
#map {
	height: 100%;
	min-height: 600px;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	color: #000;
	
	&:focus {
		border-color: #4d90fe;
	}
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;

	label {
		font-family: Roboto;
		font-size: 13px;
		font-weight: 300;
	}
}

#target {
	width: 345px;
}


/* ==================================================
	Game Admin
   ================================================== */
.map-block {
	height: 700px;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
	margin: 1px;
	background-color: #000;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}

#clues {
	height: 700px;
	overflow-y: auto;

	.group {
		background-color: $transparent-bg-color;
	}
}



/* ==================================================
	Auth Style
   ================================================== */
#login {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: $transparent-bg-color;
    color: white;

	.help-block{
	    font-size: 12px    
	}

	.bottom{
	    background-color: $transparent-bg-color;
	    border-top: 1px solid #ddd;
	    clear: both;
	    padding: 14px;
	}
	
	.form-group {
	    margin-bottom: 10px;
	}

	@media(max-width:768px){
	    & {
	        background-color: inherit;
	        color: #000;
	    }
	    
	    .bottom{
	        background-color: inherit;
	        border-top:0 none;
	    }
	}
}